/* Medium to small devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) { 
  .navbar-desktop {
    display: none;
  }
  .top-tracks-card {
    max-height: 24rem;
    max-width: 32rem;
  }
  .top-artists-card {
    max-height: 24rem;
    max-width: 32rem;
  }
}

.nav-tabs .nav-link.active {
  color: white !important;
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top-tracks-card {
    max-height: 24rem;
    max-width: 32rem;
  }
  .top-artists-card {
    max-height: 24rem;
    max-width: 32rem;
  }
}

